html,
body {
  margin: 0;
  background-image: url("Images/clouds.png");
  font-family: cabin;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Niconne;
  font-weight: normal;
  color: #c82060;
}

p {
  margin: 12px 0px;
}

/* Common */

.wrapper {
  width: 97%;
  min-width: 320px;
  max-width: 1200px;
  margin: auto;
}

/* Header */

header {
  margin: 20px 0;
}

/* Navigation */

nav {
  width: 100%;
  padding-top: 10px;
  background-image: url(Images/scallop.png);
}

nav ul {
  padding: 0.75em;
  margin: 0;
  border-bottom: 3px solid #cc8850;
  background-color: #e6bf98;
  list-style-type: none;
}

nav li {
  display: inline;
  padding: 1em;
}

nav a {
  color: #c82060;
}

/* Content */

.content {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 1.5rem;
  justify-content: space-between;
  padding: 2em;
  background-color: #fff6e0;
  border-radius: 0 0 10px 10px;
  align-items: start;
}

/* Content Article */

article {
  display: grid;
  grid-gap: 20px;
}

article h2 {
  font-size: 3em;
  border-bottom: 2px dotted #c82060;
}

article h4 {
  font-family: Cabin;
  font-weight: bold;
  color: black;
}

article h3 {
  margin-top: 0px;
  font-size: 2em;
}

article div {
  margin-top: 20px;
}

article div img {
  width: 100%;
}

/* Content Section */

section {
  display: grid;
  gap: 20px;
  align-items: stretch;
}

section div blockquote {
  margin: 1rem;
  display: grid;
  gap: 10px;
}

section div blockquote p {
  margin: 0;
}

section div blockquote cite {
  text-transform: uppercase;
  font-style: normal;
  display: block;
}

/* Content Section Aside */

section aside {
  border-radius: 10px;
  overflow: hidden;
}

section aside div {
  width: 100%;
  height: 100%;
}

section aside h3 {
  padding: 0 0.5em;
  margin-bottom: 0px;
  font-size: 2em;
  color: white;
}

section aside:nth-child(odd) {
  border: 1px solid #00c4c7;
}

section aside:nth-child(even) {
  border: 1px solid #c80060;
}

section aside:nth-child(odd) h3 {
  background-color: #00c4c7;
}

section aside:nth-child(even) h3 {
  background-color: #c80060;
}

section aside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer  */

footer {
  background-color: #00cdd1;
  color: white;
  clear: both;
  margin: 3em 0;
}

footer p {
  text-align: center;
}

footer img {
  width: 52px;
}

footer a {
  color: white;
  text-decoration: none;
}

.imgfloatright {
  float: right;
  margin: 0 0 1em 1em;
}

@media (max-width: 849px) {
  .content {
    grid-template-columns: 1fr;
  }

  article {
    width: 100%;
  }

  article h2 {
    font-size: 1.5em;
  }

  article h3 {
    font-size: 18.72px;
  }

  section {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  section aside h3 {
    font-size: 18.72px;
  }
}

@media (max-width: 549px) {
  nav ul {
    overflow: auto;
  }

  nav li {
    display: block;
    padding: 0.5em;
    width: 50%;
    padding-left: 1em;
  }

  nav li:nth-child(odd) {
    float: left;
  }

  nav li:nth-child(even) {
    float: right;
  }

  section {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  .imgfloatright {
    margin: 0 0 1em 0;
  }
}
